[Unit]
Description=LED Handler 4
After=multi-user.target
[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/home/pi/btleLedVenv/bin/python /home/pi/btleLedToMqtt/ledHandler4.py
[Install]
WantedBy=multi-user.target