[Unit]
Description=LED Handler
After=multi-user.target
[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/home/pi/btleLedVenv/bin/python  /home/pi/btleLedToMqtt/ledHandler.py
[Install]
WantedBy=multi-user.target