[Unit]
Description=LED Handler 2
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/pi/btleLedVenv/bin/python /home/pi/btleLedToMqtt/ledHandler2.py
[Install]
WantedBy=multi-user.target