[Unit]
Description=LED Handler 3
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/pi/btleLedVenv/bin/python /home/pi/btleLedToMqtt/ledHandler3.py
[Install]
WantedBy=multi-user.target